#recommend_food {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#btn_recommend {
  width: 80%;
  height: 3rem;
  margin-top: 2rem;

  background-color: #aaaaaa;
  border: none;
  border-radius: 1rem;

  font-size: 1rem;
  color: #ffffff;

  cursor: pointer;
}